.home {
    display:flex;
    justify-content: center;
    align-items: flex-start;
}

.home-width {
    max-width:100%;
    justify-content: center;
    flex-direction: column;
    display:flex;
    align-items:center;

}

.logoAnimation {
    width:60%;
    border-radius:15px;
}

.carousel-root {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-radius: 10px;
}

.carousel-container {
    width:80%;
    justify-content: center;
}

.carousel-slider {
    border-radius: 15px;;
}

.logoGif {
    border-radius:15px;
}

.blue-h2 {
    color:lightskyblue;
}

.news-title {
    text-align:left;
}
  
.container-bg {
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 300px;;
    object-fit:cover;
    
}
  
.content {
    position: relative;
    padding:20px;
}

.home-para {
    text-align: center;
}

.card-deck {
    width:80%;
    display:flex;
    
}

.card {
    width:350px;
    margin:20px;
    height:100%;
}

.card-img-top {
    height:300px;
}

.home .row {
    display:flex;
    justify-content:center;
    width:fit-content;
    margin:20px 0px;
}

.home .row .col {
    display:flex;
    justify-content:center;
}