.nav-container {
    max-width:100%;
    width:100%;
    display:flex;
    justify-content: center;
    position:fixed;
    background-color:#ffffff;
    z-index:1;
}

.logo {
    height:50px;
    width:auto;
}

.navBar {
    max-width:100%;
    width:60%;
}

.mr-auto {
    font-size:18px;
}

.mr-auto > a {
    width:max-content;
}

.navbar-collapse {
    justify-content: flex-end;
}

.dropdown-menu {
    z-index:2;
}
