.news {
    display:flex;
    justify-content: center;
    max-width:100%;
}

.news-title {
    text-align: center;
}

.button-list label {
    margin:10px;
    border-radius:10px !important;
}

.civic-tech-news {
    background-color: orange !important;
    border: 1px solid orange !important;
    border-radius:5px;
    padding: 3px;
}

.civic-tech-button:hover, .civic-tech-button:active{    
    box-shadow: 0px 0px 10px #FFA500 !important;
}

.citizen-science-news {
    background-color: #619ED6 !important;
    border: 1px solid #619ED6 !important;
    border-radius:5px;
    padding: 3px;
}

.citizen-science-button:hover, .citizen-science-button:active{    
    box-shadow: 0px 0px 10px lightblue !important;
}

.online-deliberation-news {
    background-color: #DAA520 !important;
    border: 1px solid #DAA520 !important;
    border-radius:5px;
    padding: 3px;
}

.online-deliberation-button:hover, .online-deliberation-button:active{    
    box-shadow: 0px 0px 10px #EBC15F !important;
}

.cultural-publics-news {
    background-color: #E83845 !important;
    border: 1px solid #E83845 !important;
    border-radius:5px;
    padding: 3px;
}

.cultural-publics-button:hover, .cultural-publics-button:active{    
    box-shadow: 0px 0px 10px #FF7F7F !important;
}

.youth-engagement-news {
    background-color: #0a58ca !important;
    border: 1px solid #0a58ca !important;
    border-radius:5px;
    padding: 3px;
}

.youth-engagement-button:hover, .youth-engagement-button:active{    
    box-shadow: 0px 0px 10px lightskyblue !important;
}

.news-container {
    overflow: hidden;
    position: relative;
    border-radius:15px;
    margin:20px 0px;
}

.news-container-bg {
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1500px;
}

  
.news-content {
    position: relative;
    padding:20px;
}

ul, ol{
    text-align:left;
}

.news-date {
    font-weight: 500;
    font-size:20px;
}

.news-tags {
    font-weight: 500;
    font-size:15px;
    border-radius:5px;
    padding: 3px;
    color:white;
    border:2px solid #000;
}

.news span {
    width:fit-content;
}

.news .row {
    justify-content: space-between;
}

.subTags {
    display:flex;
    margin:5px 0px 10px -8px;
    font-size:16px;
}

.subTags span {
    margin-right:10px;
    border:2px solid #000;
    border-radius:5px;
    padding: 2px;
}

