.people {
    display:flex;
    justify-content: center;
}

.person {
    margin: 0px 10px;
    border: 1px solid #ccc;
    width: 250px;
    height: 450px;
}

.person h4 {
    height:50px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.person img {
    height: 240px;
    width: 240px;
    object-fit:cover;
}

.person p {
    text-align:center;
}

.person:hover {
    border: 1px solid #777;
}

.people-width .row {
    margin:20px 0px;
}

.people-width .col {
    margin:0px;
    padding:0px;
    display:flex;
    justify-content: center;
}

